name: Python Application

on:
  schedule:
    - cron: '0 0 * * *' # Ejecuta a las 00:00 UTC todos los días

  workflow_dispatch: 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x' # o la versión específica que necesitas

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Run Python script
      env:
        AUTH_TOKEN: ${{ secrets.AUTH_TOKEN }}
      run: python main.py
